# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# these folks get the review request when someone opens
# a pull request.
*           @commonhaus/cf-ops

*.md        @commonhaus/founders
bylaws/*    @commonhaus/founders
policies/*  @commonhaus/founders
templates/* @commonhaus/founders