# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# these folks get the review request when someone opens
# a pull request.
*             @commonhaus/cf-ops

*.md          @commonhaus/cf-egc
agreements/*  @commonhaus/cf-council
bylaws/*      @commonhaus/cf-egc
policies/*    @commonhaus/cf-egc
templates/*   @commonhaus/cf-egc
CONTACTS.yaml @commonhaus/cf-council
PROJECTS.yaml @commonhaus/cf-council
