# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# these folks get the review request when someone opens
# a pull request.
*             @commonhaus/cf-ops

agreements/*  @commonhaus/cf-council
bylaws/*      @commonhaus/cf-council
policies/*    @commonhaus/cf-council
templates/*   @commonhaus/cf-egc @commonhaus/cf-egc-second
CONTACTS.yaml @commonhaus/cf-council
PROJECTS.yaml @commonhaus/cf-council
