name: Validate markdown and YAML

on:
  pull_request:
    paths:
      - '*.md'
      - '*.yml'
      - '*.yaml'
  push:
    branches:
      - main
    paths:
      - '*.md'
      - '*.yml'
      - '*.yaml'
  workflow_dispatch:

env:
  GH_BOT_EMAIL: "41898282+github-actions[bot]@users.noreply.github.com"
  GH_BOT_NAME: "GitHub Action"

permissions:
  contents: read

jobs:
  lint:
    name: Check markdown links
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Use Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: '20'
          cache-dependency-path: '**/package-lock.json'
          cache: 'npm'

      - name: Check markdown links
        working-directory: ${{ github.workspace }}/.github/linter
        run: |
          npm ci
          npm run lint
