name: Push Voting activity to commonhaus.github.io

on:
  discussion:
  discussion_comment:

  pull_request_target:
    types: [opened, edited, reopened, closed]
  issue_comment:

  workflow_dispatch:

permissions: {}

jobs:
  update-vote:
    runs-on: ubuntu-latest
    if: github.repository == 'commonhaus/foundation'
    permissions:
      actions: read
    steps:
    - name: Bump voting results
      env:
        GH_TOKEN: ${{ secrets.CF_INTERNAL_VOTES }}
      run: |
        gh workflow run -R commonhaus/commonhaus.github.io update-content.yml
        gh workflow run -R commonhaus/foundation-internal update-votes.yml
